body {
	background-image: url("https://i.imgur.com/kCbcePQ.jpg");
	background-position: no-repeat;
	background-size: cover;
}

.noDisplay {
	display: none;;
	background: url('https://i.imgur.com/apU0IgY.jpg');
}


.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

p {
	background: none;
	font-size: 90px;
	color: rgb(40, 93, 208);
	text-shadow:8px 8px 8px #dacece;
	font-weight: 800;
	font-style: oblique;
}
button {
	color: rgb(165, 214, 215);
	font-weight: bolder;
	font-size: larger;
	height: 60px;
	width: 190px;
	border-radius: 50px;
	margin: 30px;
	border-color: rgba(23, 218, 232, 0.83);
	border-style: double;
	border-width: 10px;
	background: #1a11cbb4;
}

span {
	background: none;
	text-shadow: 8px 8px 8px #280505;
	outline-color: 2px black;
	color: rgb(0, 195, 255);
	
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 2s linear;
	}
}

.App-header {
	/* background-color: #282c34; */
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-360deg);
	}
}
