body {
	background-image: url("https://i.imgur.com/zBUrdg9.jpg");
	background-position: no-repeat;
	background-size: cover;
}

.noDisplay {
	/* display: none; */
	background: url('https://i.imgur.com/apU0IgY.jpg');
}


.App {
	text-align: center;
}

.App-logo {
	background: none;
	height: 40vmin;
	pointer-events: none;
}

p {
	background: none;
	font-size: 90px;
	color: rgb(53, 22, 193);
	text-shadow:4px 4px 28px #dacece;
	font-weight: bolder;
	font-style: oblique;
}
button {
	color: rgb(165, 214, 215);
	font-weight: bolder;
	font-size: larger;
	height: 50px;
	width: 190px;
	border-radius: 50px;
	margin: 30px;
	border-color: red;
	border-style: double ;
	background: #1b13ac54;
}

span {
	background: none;
	text-shadow:4px 4px 28px #280505;
	outline-color: 2px black;
	color: rgb(255, 0, 212);
	
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 2s linear;
	}
}

.App-header {
	/* background-color: #282c34; */
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-360deg);
	}
}
